language: node_js
node_js:
  - "stable"

cache:
  directories:
    - node_modules

deploy:
  - provider: npm
    skip_cleanup: true
    email: "ryuran+npm@20minutes.fr"
    api_key:
      secure: AhrhxYB/kdDm5hopw6+1LLpGr/OupoUKVXqpgu5HxedABReah5DV4oCvNeRNaUkS67gPjvQiTrMC7K7zb28aJtHLiSe2ECNCB7ypGJIP+y7DcTExgDRfDP6q+IPqPAzcC6iWaxi/G/STiIMdESJk5P8at8nt8w3CLXhn6oMfnlSJBYpCBo7gEqtdZjo3HXpyiWQgzKb/c0dJ+kDrLire8BNU05R+OQZyhqavwfu7+oXfe70clfhT+rVzHv1+C/AxlB/Lmmd2d5h9Fs2i3kLHITbFuRE5SABAhTKjZ3TJDDRXDyc9kefS+Dea2THViaTBp53zSZoF3gok7xgUo3GYb0iP48AObM40mJdQj6EUu378OAM+kG7hYYkil8Dg18szdozOH+ADDxoRoR+5Ry8lZ9hS1l0tuuNT5RiZoptyZ0v7h4eoUmK82RxFJWdLQELhVm4MFdGypROBBtR3CaHwENSowlfBesRgbGpk6ryVwn2oFcDY3/nTblhngBKHyiiZoTDPjnPRb/zMIP5p2haalrEq2sMZa5crpu8zk5FyLzhXMesUDHDPZAqGHQFDcFMTz1ZFQ/VaG/bpCHFpAyFdVVpB/YGIddsrxSI020Ht1MJvqCfAnBfKMLgAi6tAxu3RMB0b5Glqj0elLuOFVveXpRR4Bx1Fm4V1BY9ZhEEltlk=
    on:
      tags: true
